.mycard{
    height: 20vw;
    width: 20vw;
    color: black;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all .2s linear;
    align-items: center;
    color: black;
    text-shadow:  white 0.1em 0.1em 0.2em;
    position: relative;
}
.card-1 {
    background-image: url(card1.jpg);  
}
.card-2 {
    background-image: url(card2.jpg);
}
.card-3 {
    background-image: url(card3.jpg);
}
.mycard:hover {
    box-shadow: 0px 0px 30px rgb(44, 44, 44);
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    border-radius: 0px;
    position: relative;
  }
  .mycard::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,.4);
      transition: all .2s linear;
  }
  .mycard:hover::after{
  background-color: transparent;
  }
.overlay{
    background-color: white;    
}
.center-align-text {
    display: flex;
    align-items: center;
}
a:link {
    text-decoration: none;
}
.bg-subtle {
    background-image: url(bg2.jpg);
    background-position: center;
    background-size: contain;
}
body, html {
    height: 100%;
}
.parallax { 
    background-image: url(bg1.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-full-height {
    min-height: 100vh;
}
.bg-white-trans {
    background: rgba(255, 255, 255, 0.5);
}
.text-white-drop {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
}
.bg-grey-trans {
    background: rgba(90, 90, 90, 0.5);
}
.bg-grey-trans-rounded {
    background: rgba(90, 90, 90, 0.5);
    border-radius: 25px;
}
.parallax3 { 
    background-image: url(bg3.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row-full-height {
    min-height: 100vh;
}
.bg-grey-trans-rounded-button {
    background: rgba(90, 90, 90, 0.5);
    color: black;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all .2s linear;
    align-items: center;
    color: black;
    text-shadow:  white 0.1em 0.1em 0.2em;
    position: relative;
    height: 5vw;
    width: 5vw;
    border-radius: 5px 20px 5px;
}
.bg-grey-trans-rounded-button:hover {
    background: rgba(90, 90, 90, 1);
    border-radius: 20px 5px 20px;
    box-shadow: 0px 0px 30px rgb(197, 197, 197);
    transition: all .2s linear;
}
.linkedin:hover {
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    color: #0077b5;
}
.mail:hover {
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    color: orangered;
}
.github-color:hover {
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    color: #32ca54;
}
.parallax2 { 
    background-image: url(bg4.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .bg-grey-trans-rounded-button {
        height: 12vw;
        width: 12vw;
    }
    .mycard h2 {
        font-size: 1.3rem;
    }
}